@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./../fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("./../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("./../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("./../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("./../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./../fonts/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("./../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("./../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./../fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("./../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("./../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 62.5%;
}

.prueba {
  font-family: "Helvetica Neue LT Std";
}

.prueba p:nth-child(1) {
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
  /* normal */
}

.prueba p:nth-child(2) {
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  /*  un poco mas bold */
}

.prueba p:nth-child(3) {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  /* bold */
}

.prueba p:nth-child(4) {
  font: bold 1.8rem/2.1rem "Helvetica Neue LT Std";
  /* muy bold */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  overflow-x: hidden;
  letter-spacing: 1px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .enter-hidden {
    display: none;
  }
}

header {
  height: 65px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: #c7ccc0;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

header nav img {
  height: 30%;
}

header .btn-container {
  display: none;
}

header .btn-container button {
  background-color: #abb5a0;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 7px;
  padding: 5px 10px;
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav {
    padding-left: 60px;
  }
  header .btn-container {
    display: block;
    padding-right: 60px;
  }
}

.intro-container {
  background-image: url("./../assets/images/bgIntro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

.intro-container .overlay {
  background: #d4daceb9;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-container .overlay h1 {
  text-align: center;
}

.intro-container .overlay h1 img {
  width: 50%;
}

@media (min-width: 1024px) {
  .intro-container .overlay h1 img {
    width: 80%;
  }
}

.about-container {
  padding: 50px 20px;
  background: #384a51;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .about-container {
    padding: 60px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .about-container .about-description {
    width: 50%;
    padding: 0 50px 0 20px;
  }
}

.about-container .about-description p {
  margin-bottom: 20px;
}

.about-container .about-description p:nth-child(1) {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  font-size: 2.1rem;
  line-height: 2.4rem;
}

@media (min-width: 1024px) {
  .about-container .about-description p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.about-container .about-description p:nth-child(2) {
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
}

.about-container .about-description div {
  margin: 40px 0;
  text-align: center;
}

.about-container .about-image {
  text-align: center;
}

@media (min-width: 1024px) {
  .about-container .about-image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .about-container .about-image img {
    width: 80%;
  }
}

.form-container {
  padding: 50px 20px;
  max-width: 768px;
  margin: auto;
}

.form-container p {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  color: #384a51;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 1024px) {
  .form-container p {
    text-align: left;
  }
}

.form-container form {
  text-align: right;
}

@media (min-width: 1024px) {
  .form-container form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
}

.form-container form input {
  height: 60px;
  border: 0;
  background: #d9e0d4;
  margin-bottom: 5px;
  width: 100%;
}

.form-container form input::-webkit-input-placeholder {
  color: #384a51;
  padding-left: 14px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form input:-ms-input-placeholder {
  color: #384a51;
  padding-left: 14px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form input::-ms-input-placeholder {
  color: #384a51;
  padding-left: 14px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form input::placeholder {
  color: #384a51;
  padding-left: 14px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form textarea {
  background: #d9e0d4;
  border: 0;
  height: 180px;
  width: 100%;
}

.form-container form textarea::-webkit-input-placeholder {
  color: #384a51;
  padding-left: 15px;
  padding-top: 15px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form textarea:-ms-input-placeholder {
  color: #384a51;
  padding-left: 15px;
  padding-top: 15px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form textarea::-ms-input-placeholder {
  color: #384a51;
  padding-left: 15px;
  padding-top: 15px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form textarea::placeholder {
  color: #384a51;
  padding-left: 15px;
  padding-top: 15px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 13.5px;
}

.form-container form button {
  background-color: #abb5a0;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 0px;
  width: 25%;
  border-radius: 9px;
}

.benefit-container .benefit-content {
  padding: 50px 20px;
  background: #d9e0d4;
  color: #384a51;
}

@media (min-width: 1024px) {
  .benefit-container .benefit-content {
    padding: 60px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefit-container .benefit-content .description-ordered {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 65px;
  }
  .benefit-container .benefit-content .image-ordered {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1024px) {
  .benefit-container .benefit-content .benefit-description {
    width: 50%;
    padding: 0 0 0 20px;
  }
}

.benefit-container .benefit-content .benefit-description p {
  margin-bottom: 20px;
}

.benefit-container .benefit-content .benefit-description p:nth-child(1) {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  font-size: 2.1rem;
  line-height: 2.4rem;
}

@media (min-width: 1024px) {
  .benefit-container .benefit-content .benefit-description p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.benefit-container .benefit-content .benefit-description p:nth-child(2) {
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
}

.benefit-container .benefit-content .benefit-description p:nth-child(3) {
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
}

.benefit-container .benefit-content .benefit-description p:nth-child(4) {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
}

.benefit-container .benefit-content .benefit-description ul {
  padding-left: 20px;
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
  line-height: 3rem;
  padding-bottom: 40px;
}

.benefit-container .benefit-content .benefit-description div {
  margin: 40px 0;
  text-align: center;
}

.benefit-container .benefit-content .benefit-image {
  text-align: center;
}

@media (min-width: 1024px) {
  .benefit-container .benefit-content .benefit-image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .benefit-container .benefit-content .benefit-image img {
    width: 80%;
  }
}

/*slider*/
.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  background-color: #384a51;
}

.move-container {
  padding: 50px 20px;
  background: #384a51;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .move-container {
    padding: 60px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .move-container .move-description {
    width: 50%;
    padding: 0 50px 0 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.move-container .move-description p {
  margin-bottom: 40px;
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  font-size: 2.1rem;
  line-height: 2.4rem;
}

@media (min-width: 1024px) {
  .move-container .move-description p {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.move-container .move-description div {
  margin: 40px 0;
  text-align: center;
}

.move-container .move-image {
  text-align: center;
}

@media (min-width: 1024px) {
  .move-container .move-image {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1024px) {
  .move-container .move-image img {
    width: 80%;
  }
}

#map {
  width: 100%;
  height: 80vh;
  max-height: 600px;
}

#map div {
  z-index: 5;
}

.map {
  position: relative;
}

.legend-container {
  background-color: #384a51;
  padding: 20px;
}

@media (min-width: 1024px) {
  .legend-container {
    background-color: #d9e0d4;
    width: 25%;
    position: absolute;
    z-index: 7;
    bottom: 0;
    right: 0;
  }
}

.legend-container .legend-content {
  background-color: #d9e0d4;
  padding: 15px;
}

.legend-container .legend-content h2 {
  color: #384a51;
  margin-bottom: 10px;
  font-size: 2.1rem;
}

.legend-container .legend-content ul {
  color: #384a51;
  padding-left: 20px;
  font: normal 1.8rem/2.3rem "Helvetica Neue LT Std";
  font-size: 1.5rem;
  line-height: 25px;
}

.about-avilis-container {
  padding: 50px 20px;
  background-color: #384a51;
  color: #ffffff;
}

.about-avilis-container .about-avilis-content {
  max-width: 690px;
  margin: auto;
}

.about-avilis-container .about-avilis-content h2 {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

.about-avilis-container .about-avilis-content p {
  margin-bottom: 15px;
  font: 300 1.8rem/2.3rem "Helvetica Neue LT Std";
}

.about-avilis-container .about-avilis-content p:nth-child(4) {
  font: 500 1.8rem/2.2rem "Helvetica Neue LT Std";
  font-size: 1.6rem;
}

.about-avilis-container .about-avilis-content .btn-container {
  text-align: center;
}

.about-avilis-container .about-avilis-content .btn-container .btn-contact {
  margin-top: 20px;
  background-color: #abb5a0;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 1.6rem;
}

footer {
  position: relative;
}

footer .footer-content {
  padding: 50px 20px;
  position: relative;
  text-align: center;
}

@media (min-width: 1024px) {
  footer .footer-content {
    max-width: 1024px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-content .logo-container {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  footer .footer-content .social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    width: 50%;
  }
}

footer .footer-content .social-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #384a51;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  footer .footer-content .social-container a {
    width: 50%;
  }
}

footer .remo-container a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/*# sourceMappingURL=style.css.map */