.about-avilis-container {
  padding: 40px 40px 60px;

  background-color: $color3;
  color: $white;
  @include desktop {
    @include padding;
  }
  .about-avilis-content {
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font: $font1;
      color: $fontColor2;
      @include desktop {
        font: $font11;
      }
    }
    p {
      color: $fontColor2;
      font: $font38;
      @include desktop {
        font: $font12;
      }
      &:nth-child(2),
      &:nth-child(3) {
        font: $font39;
        @include desktop {
          font: $font12;
        }
      }
      &:nth-child(4) {
        font-weight: bold;
        @include desktop {
          font: $font14;
        }

        max-width: 400px;
      }
    }
    .btn-container {
      text-align: center;
      margin-top: 30px;
      @include desktop {
        margin-top: 50px;
      }
      .btn-contact {
        font: normal 1.4rem/1.9rem $fontBase1;
        letter-spacing: 1.5px;
        background-color: $color5;
        border: 0;
        outline: none;
        cursor: pointer;
        color: $white;
        border-radius: 7px;
        padding: 10px 15px 8px;

        @include desktop {
          font: normal 2rem/2.5rem $fontBase1;
        }
      }
    }
  }
}
