.about-container {
  @include padding;
  background: $color3;
  color: $white;
  @include desktop {
    padding: 60px 40px;
    display: flex;
    gap: 20px;
  }
  div {
    &:nth-child(1) {
      p {
        margin-bottom: 15px;
        &:nth-child(1) {
          font: $fontBold;
        }
        &:nth-child(2) {
          font: $fontLight;
        }
        &:nth-child(3) {
          font: $fontLight;
        }
        &:nth-child(4) {
          font: $fontBold;
        }
      }
      div {
        text-align: center;
      }
    }
    &:nth-child(2) {
    }
  }
}
