.about-container {
  @include padding;
  padding-bottom: 30px;
  background: $color3;
  color: $white;
  @include desktop {
    padding: 60px 40px;
    display: flex;
    align-items: start;
  }
  .about-description {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    @include desktop {
      width: 50%;
      padding: 0 50px 0 20px;
    }
    h3 {
      color: $fontColor2;
      font: $font31;
      @include desktop {
        font-size: 2.2rem;
        line-height: 3rem;
      }
    }
    p {
      color: $fontColor2;
      &:nth-child(2),
      &:nth-child(3) {
        font: $font32;
      }
      &:nth-child(4) {
        font: $font34;
        @include desktop {
          font-size: 1.8rem;
          line-height: 2.7rem;
        }
      }
    }
    div {
      text-align: center;
      margin: 25px 0 0;
      img {
        width: 20px;
      }
    }
  }
  .about-image {
    text-align: center;
    margin-top: 40px;
    @include desktop {
      width: 50%;
      margin-top: 0px;
    }
    img {
      @include desktop {
        width: 85%;
      }
    }
  }
}
