.benefit-container {
  .benefit-content {
    @include padding;

    background: $color4;
    color: $color3;
    padding-bottom: 0;
    @include desktop {
      padding: 60px 40px 0;
      display: flex;
      align-items: center;
      .description-ordered {
        order: 2;
        padding-left: 65px;
      }
      .image-ordered {
        order: 1;
      }
    }
    .benefit-description {
      max-width: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      @include desktop {
        width: 50%;
        padding: 0 0 0 20px;
      }
      h3 {
        font: $font1;
        @include desktop {
          font-size: 2rem;
          line-height: 3rem;
        }
      }
      p {
        font: $font33;

        /* &:nth-child(4) {
          font: $fontBodyBold;
        } */
      }
      div {
        img {
          width: 20px;
        }
      }
      ul {
        padding-left: 20px;
        padding-bottom: 20px;
        letter-spacing: 3px;
        font: $font35;
      }
      div {
        margin: 20px 0 40px;
        text-align: center;
      }
    }

    .benefit-image {
      text-align: center;
      @include desktop {
        width: 50%;
      }
      img {
        @include desktop {
          width: 85%;
        }
      }
    }
  }
  .variant {
    padding-bottom: 30px;
  }
}

/*slider*/

.swiper {
  width: 100%;
  padding: 20px 0 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: $color3;
}
