/*slider*/
.carousel-container {
  padding-bottom: 40px;
  background: $color4;

  .carousel-content {
    @include padding;
    max-width: calc(94%);
    margin: auto;
    background: $color4;
    color: $color3;
    padding-bottom: 0;

    @include desktop {
      padding: 60px;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
    }
    .carousel-description {
      @include desktop {
        order: 2;
        width: 50%;
        padding-left: 70px;
      }
      @include biggest-desktop {
        padding-left: 100px;
      }
      h3 {
        font: $font1;
        margin-bottom: 20px;
        @include desktop {
          font: $font11;
        }
      }
      ul {
        padding-left: 20px;
        padding-bottom: 20px;
        letter-spacing: 3px;
        font: $font35;
        li {
          &::marker {
            font-size: 20px;
          }
        }
        @include desktop {
          font: $font13;
        }
      }
    }
    .carousel-image {
      @include desktop {
        width: 50%;
        order: 1;

        .swiper {
          width: 100%;
          padding: 20px 0 0;
        }

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      @include biggest-desktop {
        padding: 0 60px 0 120px;
      }
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 20px;
        @include desktop {
          bottom: 30px;
        }
      }
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet {
        background-color: $color3;
        @include desktop {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
