footer {
  position: relative;
  .footer-content {
    @include padding;
    position: relative;
    text-align: center;
    max-width: calc(94%);
    @include desktop {
      margin: auto;
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .logo-container {
      margin-bottom: 10px;
    }
    .social-container {
      @include desktop {
        display: flex;
        gap: 10px;
        width: 50%;
      }
      a {
        display: flex;
        gap: 10px;
        justify-content: center;
        color: $color3;
        margin-bottom: 10px;
        @include desktop {
          width: 50%;
          font: $font5;
        }
      }
    }
  }
  .remo-container {
    a {
      position: absolute;
      bottom: 20px;
      right: 20px;
      @include desktop {
        bottom: 45px;
      }
      img {
        width: 70%;
      }
    }
  }
}
