header {
  height: 65px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: $color2;
  nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    img {
      height: 30%;
    }
  }
  .btn-container {
    display: none;
    button {
      background-color: $color5;
      border: 0;
      outline: none;
      cursor: pointer;
      color: $white;
      border-radius: 7px;
      padding: 5px 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      padding-left: 60px;
    }
    .btn-container {
      display: block;
      padding-right: 60px;
    }
  }
}
