header {
  font-family: $fontBase;
}
header p:nth-child(1) {
  font-weight: 300;
}
header p:nth-child(2) {
  font-weight: normal;
}
header p:nth-child(3) {
  font-weight: 500;
}
header p:nth-child(4) {
  font-weight: bold;
}
