.intro-container {
  background-image: url("./../assets/images/bgIntro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  .overlay {
    background: $overlay;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      img {
        width: 50%;
        @include desktop {
          width: 80%;
        }
      }
    }
  }
}
