#map {
  width: 100%;
  height: 80vh;
  max-height: 600px;

  div {
    z-index: 5;
  }
}
.map {
  position: relative;
}
.legend-container {
  background-color: $color3;
  padding: 35px;
  @include desktop {
    background-color: $color5;
    width: 412px;
    position: absolute;
    z-index: 7;
    bottom: 0;
    right: 0;
  }
  .legend-content {
    background-color: $color5;
    padding: 20px;

    h2 {
      color: $color3;
      margin-bottom: 20px;
      font: $font1;
      @include desktop {
        font: $font11;
      }
    }
    ul {
      color: $color3;
      padding-left: 20px;
      letter-spacing: 5px;
      font: $font36;

      li {
        &::marker {
          font-size: 20px;
        }
      }
      @include desktop {
        font: $font13;
      }
    }
  }
}
