.move-container {
  background: $color3;
  .move-content {
    @include padding;
    max-width: calc(94%);
    margin: auto;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 15px;
    color: $white;
    @include desktop {
      padding: 60px 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .move-description {
      color: $fontColor2;
      max-width: 550px;
      @include desktop {
        width: 45%;
        padding: 0 50px 0 20px;
        order: 2;
      }

      h3 {
        margin-bottom: 60px;

        font: $font1;
        @include desktop {
          font: $font11;
        }
        @include biggest-desktop {
          margin-left: -100px;
        }
      }
      div {
        margin: 40px 0;
        text-align: center;
      }
    }
    .move-image {
      text-align: center;
      @include desktop {
        width: 55%;
        order: 1;
      }
      @include biggest-desktop {
        width: 43%;
      }
      img {
        @include desktop {
          width: 82%;
        }
        @include biggest-desktop {
          width: auto;
          height: 515px;
        }
      }
    }
  }
}
