/* :root {
  font-size: 62.5%;
} */
$fontBase: "Helvetica Neue LT Std";

$white: #ffffff;
$overlay: #d4daceb9;
$black: #000000;
$color1: #d4dace;
$color2: #c7ccc0;
$color3: #384a51;
$color4: #d9e0d4;
$color5: #abb5a0;

$fontBody: normal 1.6rem/2.3rem $fontBase;
$fontBodyBold: bold 1.6rem/2.2rem $fontBase;
$font1: 500 2rem/2.2rem $fontBase;
$font2: normal 1.4rem/2.2rem $fontBase;
$font3: 300 1.4rem/2.2rem $fontBase;
$font4: 300 1.6rem/2rem $fontBase;
$font5: normal 1.8rem/2rem $fontBase;
